body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    background-color: #393F44;
}

table td {
    color: white;
    padding: 5px;
    vertical-align: top;
}

p,
a {
    color: rgb(173, 171, 171);
}