#alinggg {
    width: 300px;
}
 
.col2 .quadrado {
    background-color: white;
    width: 130px;
    height: 130px;
}
 
tr {
    color: white;
}
 
.boto {
    font-size: 20px;
    float: right;
 
}
 